

          <table class="table table-striped table-bordered table-hover table-sm ">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Articulo</th>
                  <th>Fecha Elaboracion</th>
                  <th>Cantidad</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
              {% for t in pallet.valores %}
                  <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ t.movimiento.artProcFaena.articulo }}</td>   
                    <td>{{ t.faenaDiaria.fechaFaena|date('d/m/Y') }}</td>          
                    <td>{{ t.data }}</td>
                    <td> <a href="#" data-valor="{{ t.id }}" data-pallet="{{ pallet.id }}" class="btn btn-sm btn-danger delete-romaneo">Eliminar</a></td>
                  </tr>
                {% endfor %}
              </tbody>
          </table>


  <script type="text/javascript">
    $('.delete-romaneo').click(function(event){
                          event.preventDefault();
                          var val = $(this);
                          deleteMovimiento(val.data('pallet'), val.data('valor'));
    });
  </script>

