{% extends "FOSUserBundle::layout.html.twig" %}
{% block fos_user_content %}
<br>
<hr>
<span class="h5 card-title">Nuevo Consignatario</span>
<hr>
{% for message in app.flashes('sussecc') %}
	<div class="alert alert-success" role="alert">
	  {{ message }}
	</div>
{% endfor %}

<div class="">
	{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="form-row">
      <div class="col-4">
        {{ form_label(form.entidad.valor, 'Consignatario') }}
        {{ form_widget(form.entidad.valor) }}
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        {{ form_widget(form.guardar) }}
      </div>
    </div>
	{{ form_end(form) }}
    <br>
    <span class="h5">Consignatarios Existentes</span>
    <hr>
    <table class="table table-striped table-bordered table-hover table-sm ">
        <thead>
          <tr>
            <th>#</th>
            <th>Consignatario</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {% for f in consignatarios %}
            <tr>
              <td>{{ loop.index }}</td>
              <td>{{ f }}</td>             
              <td></td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
</div>
{% endblock fos_user_content %}
