{% extends "FOSUserBundle::layout.html.twig" %}
{% block stylesheets %}
<style type="text/css">


    thead tr th { 
            position: sticky;
            top: 0;
            z-index: 10;
            background-color: #ffffff;
    }

</style>
{% endblock %}

{% block fos_user_content %}
<div class="container">
<br>
  {% if  app.user.isPerfilFaena or edited is defined%}
      <p class="h5 card-title">{% if edit is defined %}Editar Articulo {% else %} Nuevo articulo {% endif %}</p>
      <hr>
      {% for message in app.flashes('sussecc') %}
      <div class="alert alert-success" role="alert">
      {{ message }}
      </div>
      {% endfor %}
      {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
      <div class="form-row">
      	<div class="col col-lg-2">
      		{{ form_label(form.codigoInterno, 'Codigo Interno') }}
      		{{ form_widget(form.codigoInterno) }}
      	</div>
      	<div class="col col-lg-4">
      		{{ form_label(form.nombre) }}
      		{{ form_widget(form.nombre) }}
      	</div>
      	<div class="col col-lg-2">
      		{{ form_label(form.nombreResumido, 'Nombre Corto') }}
      		{{ form_widget(form.nombreResumido) }}
      	</div>
        <div class="col col-lg-2">
          {{ form_label(form.descVenta, 'Nombre Venta') }}
          {{ form_widget(form.descVenta) }}
        </div>
      </div>
      {% if form.orden is defined%}
          <div class="form-row">
            <div class="col col-lg-2">
              {{ form_label(form.orden, 'Orden Aparicion') }}
              {{ form_widget(form.orden) }}
            </div>
          	<div class="col col-lg-3">
          		{{ form_label(form.categoria, 'Categoria') }}
          		{{ form_widget(form.categoria) }}
          	</div>
          	<div class="col col-lg-3">
          		{{ form_label(form.subcategoria, 'Subcategoria') }}
          		{{ form_widget(form.subcategoria) }}
          	</div>
            <div class="col col-lg-4">
              {{ form_label(form.categoriaGeneral, 'Cat. General') }}
              {{ form_widget(form.categoriaGeneral) }}
            </div>
          </div>
      {% endif %}
      <div class="form-row">
      	<div class="col-lg-2">
      		{{ form_label(form.presentacionKg, 'Presentacion KG') }}
      		{{ form_widget(form.presentacionKg) }}
      	</div>
      	<div class="col-lg-2">
      		{{ form_label(form.presentacionUnidad, 'Presentacion Unidad') }}
      		{{ form_widget(form.presentacionUnidad) }}
      	</div>
        <div class="col-lg-6">
          {{ form_label(form.articuloBase) }}
          {{ form_widget(form.articuloBase) }}
        </div>
      </div>
      <div class="form-row">
        <div class="col-lg-2">
          {{ form_label(form.congelable, 'Envia a congelar...') }}
          {{ form_widget(form.congelable) }}
        </div>
        <div class="col-lg-2">
          {{ form_label(form.clasificable, 'Se clasifica...') }}
          {{ form_widget(form.clasificable) }}
        </div>
      </div>
      {{ form_widget(form.guardar) }}
      {{ form_end(form) }}
{% endif %}
{% if not edit is defined %}
    <br>
    <span class="h5">Articulos Existentes</span>
    <hr>
    <table class="table table-striped table-bordered table-hover table-sm ">
        <thead>
          <tr>
            <th>#</th>
            <th>Codigo</th>
            <th>Nombre Faena</th>
            {% if app.user.isPerfilVenta %}
                <th>Nombre Venta</th>
            {% endif %}
            {% if not app.user.isPerfilVenta %}
                <th>Nom. Red.</th>
                <th>Categoria</th>
                <th>Subategoria</th>
                <th>Cat. General</th>
            {% endif %}
            <th>Pres. Kg.</th>
            <th>Pres. Uda.</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {% for f in articulos %}
            <tr>
              <td>{{ loop.index }}</td>
              <td>{{ f.codigoInterno }}</td>             
              <td>{{ f.nombre }}</td>  
              {% if app.user.isPerfilVenta %}
                  <td>{{ f.descVenta }}</td>  
              {% endif %}
              {% if not app.user.isPerfilVenta %}
                  <td>{{ f.nombreResumido }}</td> 
                  <td>{{ f.categoria }}</td> 
                  <td>{{ f.subcategoria }}</td> 
                  <td>{{ f.categoriaGeneral }}</td> 
              {% endif %}
                  <td>{{ f.presentacionKg }}</td> 
                  <td>{{ f.presentacionUnidad }}</td> 
              <td><a href="{{ path('bd_editar_articulo_basico', { 'art' : f.id }) }}" class="btn btn-warning btn-sm">Editar</a></td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
{% endif %}
</div>
{% endblock fos_user_content %}
