{% extends "FOSUserBundle::layout.html.twig" %}
        

{% block fos_user_content %}
	<br>
	<hr>
<spam class="h5 mb-5">Editar articulos generados</spam>
<hr>
	{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
	<div class="form-row">
		<div class="col-6">
			{{ form_label(form.articulos) }}
			{{ form_widget(form.articulos, {'attr' : {'class' : 'articulos'}}) }}
			
		</div>
	</div>
	<div class="form-row">
		<div class="col-2">
			{{ form_widget(form.modificar, {'attr' : {'class' : 'btn btn-success btn-block'}}) }}
		</div>
		<div class="col-2">
			{{ form_widget(form.agregar, {'attr' : {'class' : 'btn btn-warning btn-block'}}) }}
		</div>
		<div class="col-2">
			<a href="{{ path('bd_delete_articulo', {art : '_ID_ART'}) }}" class="btn btn-danger btn-block btn-delete">Eliminar Articulo</a>
		</div>
	</div>
	{{ form_end(form) }}
	<p id='upgrade' class='mt-5'></p>
	<p id='listeners' class='mt-2'></p>
{% endblock fos_user_content %}

{% block javascripts %}

<script type="text/javascript">
	
	var select  = $("<select id='select-art' class='form-control' />");

	var btn = $("<button id='add-des' class='btn btn-primary' onClick='clickButton()'>Agregar Listener</button>");

	$.post("{{ path('bd_get_all_articles') }}",
			function(data){

						$(data).each(function() {
						 						select.append($("<option>").attr('value',this.id).text(this.articulo));
						});
			});

	function clickButton()
	{
						   var route = "{{ path('bd_add_listener', { orig :'__ORIGEN', list: '__LISTENER'}) }}";
						   
						   var origen = $('.articulos').val();
						   var listener = $('#select-art').val();

						   route = route.replace('__ORIGEN', origen).replace('__LISTENER', listener);
						   $.post(route,
						   		  function(data){
						   		  				if (!data.status) {
						   		  					alert(data.message);
						   		  				}
						   		  				else
						   		  				{
						   		  					$('.articulos').trigger('change');
						   		  				}
						   		  });
	};

	function deleteItem(listen)
	{
	   var route = "{{ path('bd_delete_listener', { orig :'__ORIGEN', list: '__LISTENER'}) }}";
	   var origen = $('.articulos').val();
	   route = route.replace('__ORIGEN', origen).replace('__LISTENER', listen);
	   $.post(route,
	   		 function(data){
	   		  				if (!data.status) {
	   		  					alert(data.message);
	   		  				}
	   		  				else
	   		  				{
	   		  					$('.articulos').trigger('change');
	   		  				}
	   		 });
		
	};

	$('.articulos').change(function() {

			$('#upgrade').html(select);
			$('#upgrade').append(btn);
			let list = $('<ul/>');
			let art = $(this);
			let route = "{{ path('bd_listeners', { id : '__ART'}) }}";
    		$.post(route.replace('__ART', art.val()),
				   function(data){
						$(data).each(function() {
						 						list.append("<li>"+this.articulo+"</li><button onclick='deleteItem("+this.id+")' class='btn btn-sm btn-warning'>Delete</button>");
						});
						$('#listeners').html(list);
				   });
	});

	$('.btn-delete').click(function(event){
											event.preventDefault();
											var btn = $(this);
											var route = btn.attr('href');
											bootbox.confirm({
											    message: "Seguro eliminar el articulo?",
											    buttons: {
											        confirm: {
											            label: 'Si',
											            className: 'btn-success'
											        },
											        cancel: {
											            label: 'No',
											            className: 'btn-danger'
											        }
											    },
											    callback: function (result) {
											        if (result){
											        	$.post(route.replace('_ID_ART', $('.articulos').val()),
											        		   function(data){
											        		   			bootbox.alert(data.msge);
											        		   });
											        }
											    }
											});
	});
	</script>
{% endblock %}