{% extends "FOSUserBundle::layout.html.twig" %}
        

{% block fos_user_content %}

		<br>
<p class="h4 mb-5">Editar Atributos de Concepto de movimiento</p>
    {% for flash_message in app.session.flashbag.get('errorForm') %}
            <div class="alert alert-danger" role="alert">
                {{ flash_message }}
            </div>
    {% endfor %}
	{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}

    {% if concepto is defined %}
        <table class="table table-striped table-bordered table-hover table-sm ">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Articulo</th>
                    <th>Atributos</th>
                    <th>Estado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for p in concepto.atributos %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ p.articulo }}</td>
                        <td>
                            {% for a in p.atributos %}
                                {{ a }}/
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock fos_user_content %}
{% block javascripts %}

<script type="text/javascript">
    $('.actdes').click(function(event){
                                    event.preventDefault();
                                    var a = $(this);
                                    $.post(a.attr('href'),
                                           function(data){

                                           });
    });
    $('.articulo').change(function(){
                                    var articulo = $(this);
                                    $('.atributo').empty();
                                    $.ajax({
                                        url: "{{ path('bd_get_atributes_for_articles') }}",
                                        type: "GET",
                                        dataType: "JSON",
                                        data: {
                                            artid: articulo.val()
                                        },
                                        success: function (data) {                                                        
                                                            $.each(data, function (key, value) {
                                                                    $('.atributo').append('<option value="' + value.key + '">' + value.value + '</option>');
                                                            });
                                        },
                                        error: function (err) {
                                                                $('.atributo').empty();
                                        }
                                    });
    });
    $('.atributo').change(function(){
                                    var atributo = $(this);
                                    $("#atributo").html('');
                                    $.ajax({
                                        url: "{{ path('bd_get_atribute') }}",
                                        type: "GET",
                                        data: {
                                            atrid: atributo.val()
                                        },
                                        success: function (data) {                                                  
                                                            $("#atributo").html(data);
                                        },
                                        error: function (err) {
                                                            $("#atributo").html('');
                                        }
                                    });
    });
</script>
{% endblock %}


