{% extends "FOSUserBundle::layout.html.twig" %}
        

{% block fos_user_content %}
<br>
<hr>
<span class="h5 card-title">Asignar procesos a usuario</span>
<hr>
{% for message in app.flashes('sussecc') %}
    <div class="alert alert-success" role="alert">
      {{ message }}
    </div>
{% endfor %}
	{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
	{{ form_label(form.usuario) }}
	{{ form_widget(form.usuario, {'attr' : {'class' : 'col-4'}}) }}
	{{ form_label(form.procesos) }}
	{{ form_widget(form.procesos, {'attr' : {'class' : 'col-4'}}) }}
	{{ form_end(form) }}

{% endblock fos_user_content %}
