{% extends "FOSUserBundle::layout.html.twig" %}
        

{% block fos_user_content %}
<br>
<hr>
<span class="h5 card-title">Editar Grupo Movimientos Automatico</span>
<hr>

	

	    <p class="h4 mb-4 text-center"></p>


		<br>
		<div class="row">
		  <div class="col card">		
	
					{{ form_start(grupoMov) }}
				  		<div class="form-row align-items-center">
				  			<div class="col-1">
				  				{{ form_label(grupoMov.manual, 'Manual') }}
				  				{{ form_widget(grupoMov.manual, {'attr' : {'class' : 'form-control-sm'}}) }}
				  			</div>

				  			<div class="col-1">
				  				{{ form_label(grupoMov.orden) }}
				  				{{ form_widget(grupoMov.orden, {'attr' : {'class' : 'form-control-sm'}}) }}
				  			</div>
				  			<div class="col">
				  				{{ form_label(grupoMov.nombre) }}
				  				{{ form_widget(grupoMov.nombre, {'attr' : {'class' : 'form-control-sm'}}) }}
				  			</div>
				  			<div class="col">
				  				{{ form_label(grupoMov.detalle) }}
				  				{{ form_widget(grupoMov.detalle, {'attr' : {'class' : 'form-control-sm'}}) }}
				  			</div>
				  		</div>
				  		<div class="form-row align-items-center">
				  			<div class="col-3">
				  				{{ form_label(grupoMov.procesoFaena, 'Proc.') }}
				  				{{ form_widget(grupoMov.procesoFaena, {'attr' : {'class' : 'form-control-sm'}}) }}
				  			</div>
				  		</div>
				  		<div class="form-row align-items-center">
				  			<div>
				  				{{ form_widget(grupoMov.guardar, {'attr' : {'class' : 'btn btn-sm btn-success btn-block mt-2'}}) }}
				  			</div>
				  		</div>				  	
				  	{{ form_end(grupoMov) }}	
		  </div>
		</div>
		<hr>
		<div class="row">
		  <div class="col card">	
		  	<span class="h5">Movimientos automaticos definidos</span>
				<table class="table table-striped table-bordered table-hover table-sm ">
							<thead>
								<tr>
									<th>Orden</th>
									<th>Movimiento a relizar</th>
									<th>Proceso destino default</th>
								</tr>
							</thead>
							<tbody>
									{% for auto in grupo.automaticos %}
										<tr>
											<td>{{ auto.ordenEjecucion }}</td>
											<td><a target="_blanck" href="{{ path('bd_edit_movimiento_automatico', { mov : auto.id})}}">{{ auto.articuloAtributoConcepto.vistaEdicion }}</a></td>
											<td>{{ auto.procesoDestinoDefault }}</td>
										</tr>
									{% endfor %}
							</tbody>
				</table>
			</div>
		</div>

{% endblock fos_user_content %}

{% block javascripts %}


{% endblock %}
