{% extends "FOSUserBundle::layout.html.twig" %}
        

{% block fos_user_content %}
<br>
<hr>
<span class="h5 card-title">Editar Paso Proceso</span>
<hr>

	

	    <p class="h4 mb-4 text-center"></p>
		<br>
				  	{{ form_start(fpaso) }}
				  		<div class="form-row align-items-center row">
				  			<div class=" col-lg-2">
				  				{{ form_label(fpaso.orden) }}
				  				{{ form_widget(fpaso.orden, {'attr' : {'class' : 'form-control-sm'}}) }}
				  			</div>
				  			<div class=" col-lg-6">
				  				{{ form_label(fpaso.grupoMovimiento) }}
				  				{{ form_widget(fpaso.grupoMovimiento, {'attr' : {'class' : 'form-control-sm'}}) }}
				  			</div>
				  		</div>
				  		<div class="form-row align-items-center row">
				  			<div class="col-lg-8">
				  				{{ form_label(fpaso.detalle) }}
				  				{{ form_widget(fpaso.detalle, {'attr' : {'class' : 'form-control-sm mt-2'}}) }}
				  			</div>
				  		</div>
				  		<div class="form-row align-items-center row">
				  			<div class="col-lg-4">
				  				{{ form_label(fpaso.procesoFaena, 'Proceso') }}
				  				{{ form_widget(fpaso.procesoFaena, {'attr' : {'class' : 'form-control-sm'}}) }}
				  			</div>
				  		</div>
				  		<div class="form-row align-items-center row">
				  			<div class="col-lg-4">
				  				{{ form_widget(fpaso.guardar, {'attr' : {'class' : 'btn btn-success'}}) }}
				  			</div>
				  		</div>
				  	
				  	{{ form_end(fpaso) }}		
{% endblock fos_user_content %}

{% block javascripts %}

{% endblock %}
