{% extends "FOSUserBundle::layout.html.twig" %}
        
{% block stylesheets %}
	<style type="text/css">
		table.dataTable thead .sorting:after,
		table.dataTable thead .sorting:before,
		table.dataTable thead .sorting_asc:after,
		table.dataTable thead .sorting_asc:before,
		table.dataTable thead .sorting_asc_disabled:after,
		table.dataTable thead .sorting_asc_disabled:before,
		table.dataTable thead .sorting_desc:after,
		table.dataTable thead .sorting_desc:before,
		table.dataTable thead .sorting_desc_disabled:after,
		table.dataTable thead .sorting_desc_disabled:before {
		bottom: .5em;
		}
	</style>
{% endblock %}
{% block fos_user_content %}
<br>
<hr>
<span class="h5 card-title">Procesos existentes en el sistema</span>
<hr>
{% for message in app.flashes('sussecc') %}
	<div class="alert alert-success" role="alert">
	  {{ message }}
	</div>
{% endfor %}
<table id="dtBasicExample" class="table table-hover table-striped table-bordered table-sm table-responsive-md btn-table" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th class="th-sm">Nombre Proceso </th>
      <th class="th-sm">Tipo de Proceso</th>
      <th class="th-sm" >Orden</th>
      <th class="th-sm">Permanente</th>
      <th class="th-sm"></th>
    </tr>
  </thead>
  <tbody>
  		{% for p in  procesos %}
  			<tr>
  				<td>
  					{{ p.nombre }}
  				</td>
  				<td>
  					{{ p.type }}
  				</td>
  				<td>
  					{{ p.orden }}
  				</td>
   				<td>
  					{{ p.permanente }}
  				</td>
  				<td class="text-center">
					<a href="{{ path('bd_edit_procesos', {proccess : p.id}) }}" class="btn btn-indigo btn-sm m-0">Administrar</a>
  				</td>
  			</tr>
  		{% endfor %}
  </tbody>
</table>

{% endblock fos_user_content %}

{% block javascripts %}
<script type="text/javascript">
	$(document).ready(function () {
									$('#dtBasicExample').DataTable({
																	"info": false,
																	"searching": false,
																	"paging": false
																	});
									$('.dataTables_length').addClass('bs-select');
	});
</script>
{% endblock %}
