{% extends "FOSUserBundle::layout.html.twig" %}
{% block fos_user_content %}
<br>
<hr>
<span class="h5 card-title">Existencias actuales</span>
<hr>
{% for message in app.flashes('sussecc') %}
	<div class="alert alert-success" role="alert">
	  {{ message }}
	</div>
{% endfor %}
	{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
		<div class="form-row col-6">
			{{ form_label(form.proceso) }}
			{{ form_widget(form.proceso) }}
		</div>
		<div class="form-row col-6">
			{{ form_widget(form.cargar, {'attr' : {'class' : 'btn-success'}}) }}
		</div>

	{{ form_end(form) }}
<hr>
{% if stock is defined %}
	<table class="table table-striped table-bordered table-hover table-sm ">
			<thead>
				<tr>
					<th>#</th>
					<th>Articulo</th>
					<th>Fecha Faena</th>
					<th>Stock</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				
				{% for f in stock %}
					<tr>
						<td>{{ loop.index }}</td>
						<td>{{ f.nombre }}</td>	
						<td>{{ f.fecha|date("d/m/Y") }}</td>						
						<td class="text-right">{{ f.cantidad|number_format(2) }}</td>
						<td class="text-center">
							<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-align-justify"></i></a>
								<div class="dropdown-menu">
								    <a class="dropdown-item" href="#">Ver movimientos</a>
								    <a class="dropdown-item" href="#">Iniciar seguimienton</a>
								    <a class="dropdown-item" href="#">Dispocicion final</a>
								</div>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
	{% endif %}
{% endblock fos_user_content %}
