{% extends "FOSUserBundle::layout.html.twig" %}
{% block fos_user_content %}
<br>
<hr>
<div class="text-left">
	<span class="h5 card-title">INFORME III</span>
</div>
<div class="text-center">
	<span class="h5 card-title">Faena:  {{ faena.fechaFaena | date('d/m/Y') }}</span>
</div>
<hr>
{{ form_start(form) }}
<div class="form-row">
	<div class="col-2">
		{{ form_label(form.factor) }}
		{{ form_widget(form.factor) }}
	</div>
</div>
<div class="form-row">
	<div class="col-3">
		{{ form_widget(form.load, {'attr' : {'class' : 'btn btn-warning'}}) }}
	</div>
	<div class="col-3">
		{{ form_widget(form.aplicar, {'attr' : {'class' : 'btn btn-danger'}}) }}
	</div>
</div>
{{ form_end(form) }}
<hr>
{% if movimientos is defined %}
	<table class="table table-striped table-bordered table-hover table-sm ">
			<thead>
				<tr>
					<th rowspan="2">Granja</th>
					<th rowspan="2">Galpon</th>
					<th rowspan="2">O/C</th>
					<th rowspan="2">Transp.</th>
					<th rowspan="2">Aves</th>
					<th rowspan="2">DT-e</th>
					<th colspan="4">Pesos</th>
				</tr>
				<tr>
					<th>Bruto</th>
					<th>Tara</th>
					<th>Neto</th>
					<th>Prom.</th>
				</tr>
			</thead>
			<tbody>
				{% for key, mov in movimientos %}
					<tr>
						{% for h in header %}
							{% if h.visible %}
								<td class="{% if mov['total'] is defined %}font-weight-bold {% endif %}{% if h.sumariza or h.promedia %}text-right{% endif %}">
									{% if mov[h.atributo.id] is defined %}
										{% if mov['total'] is defined %}
											{% if h.atributo.id == 4 %}
												{{ (mov[2] / mov[9])|number_format(3, '.', '') }}
											{% else %}
												{{ mov[h.atributo.id] }}
											{% endif %}
										{% else %}
											{{ mov[h.atributo.id] }}
										{% endif %}
									{% endif %}
								</td>
							{% endif %}
						{% endfor %}
					</tr>
				{% endfor %}
			</tbody>
	</table>
	<a class="btn btn-success" href="{{ path('export_informe_uno', { proc: proceso.id, fd : faena.id, ajs: 1}) }}" target="_blanck">Imprimir</a>
{% endif %}
{% endblock fos_user_content %}
