{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<style type="text/css">

.table-container {
	max-width: 100%;
	overflow-x: scroll;
}

.table-cebra tbody tr
{
	background : white;
}

.table-cebra tbody tr:nth-child(2n)
{
	background : #f2f2f2;
}

.table-cebra td
{
	min-width:100px;
}

.table-cebra tbody tr .sticky
{
	background : white;
}

.table-cebra thead th
{
	background : white;
}

.table-cebra tbody tr:nth-child(2n) .sticky
{
	background : #f2f2f2;
}

.table-cebra .sticky
{
	position: sticky;
	left: 0;
	z-index: 9999;
}
</style>
<br>
<hr>
<p class="h5 card-title">Proceso: {{ proceso }} - Fecha: {{ faena }}</p>


<div class="card" >
	<div class="card-header">
		<div class="h5">
			Articulos pendientes de clasificar
			<hr>
		</div>
			<ul class="list-group">
				{% for c in clasificables %}
					  <li class="list-group-item d-flex justify-content-between align-items-center">
					    {{ c.nombre }}:  {{ c.cantidad }} 
					    <span title="Clasificar">
					    		<a class="btn btn-sm" href="{{ path('clasifiar_articulo_base', {proc : proceso.id, fd : faena.id, art : c.idArt})}}">>></a></span>
					  </li>
				{% endfor %}
			</ul>
			{{ form_start(formMovimientos) }}
			{{ form_widget(formMovimientos) }}
			{{ form_end(formMovimientos) }}
  	</div>
	<div class="card-body">
		<span class="h5">
			Registrar Salidas
		</span>
		{{ form_start(ventas, {'attr':{'novalidate':'novalidate'}})  }}
		<div class="form-row">
			{{ form_widget(ventas.conceptoVenta, {'attr' : {'class' : 'form-control col-lg-3'}}) }}
		</div>
		<div class="form-row">
			{{ form_widget(ventas.asignar) }}
		</div>
		{{ form_end(ventas) }}
	</div>
</div>
{% endblock fos_user_content %}
{% block out_container %}
<br>
<div class="card">
	<div class="card-header">
		<div class="h5">
			Existencias Totales
		</div>
  	</div>
	<div class="card-body">
		<a href="{{ path('bd_view_procesos_faena_diaria', {fan : faena.id}) }}" class="btn btn-success"><< Volver</a>
		<div class="table-container">
			<table id="" class="table-cebra table table-hover table-bordered" cellspacing="0" width="100%">
				<thead>
				<tr>
					<th class="sticky">

					</th>
					{% for c in cates %}
						<th class="text-center" colspan="{{ ccat[c.id] }}">
							{{ c }}
						</th>
					{% endfor %}
				</tr>
				<tr>
					<th class="sticky">

					</th>
					{% set class = '' %}
					{% for kc, sub in  csub %}						
						{% for ks, vs in sub %}
							<th class="text-center {{ class }}" colspan="{{ vs }}">
								{{ subcates[ks] }}
							</th>
							{% set class = '' %}
						{% endfor %}
					{% endfor %}
				</tr>
					<tr>
						<th class="sticky">

						</th>
						{% for key, art in articulos %}
							{% for ks, sub in art %} 
								{% for k, v in sub %}
									<th class="col-lg-12 text-center {{ class }}"  width="100px">
										<span class="text-center">{{ v[0].nombreResumido }}</span>
									</th>
									{% set class = '' %}
								{% endfor %}
							{% endfor %}
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="sticky green lighten-2">
							Stock Inicial
						</td>
							{% for key, art in articulos %}
								{% for ks, sub in art %} 
									{% for k, v in sub %}
										<td class="col-lg-12 green lighten-2"> 							
											{% if si[v[0].id]  is defined%}
												<input readonly class=" text-right form-control form-control-sm col col-lg-12" value="{{ si[v[0].id] }}"/>												
											{% else %}
												<input readonly class=" text-right form-control form-control-sm col col-lg-12"/>
											{% endif %}						
										</td>
									{% endfor %}
								{% endfor %}
							{% endfor %}
					</tr>
					{% for c in conceptos %}
						<tr>
							<td class="sticky">
								{{ c.resumido }}
							</td>
								{% for key, art in articulos %}
									{% for ks, sub in art %} 
										{% for k, v in sub %}
											<td class="col-lg-12"> 							
												{%  if ventasTotales[c.id][v[0].id] is defined  %}
													<input readonly class="text-right form-control form-control-sm col-lg-12" value="{{ ventasTotales[c.id][v[0].id] }}"/>
												{% else %}
													<input readonly class="text-right form-control form-control-sm col col-lg-12"/>
												{% endif %}						
											</td>
										{% endfor %}
									{% endfor %}
								{% endfor %}
						</tr>
					{% endfor %}
					<tr>
						<td class="sticky deep-orange lighten-4">
							DESPACHADO
						</td>
						{% for key, art in articulos %}
							{% for ks, sub in art %} 
								{% for k, v in sub %}
									{% set valV = '' %}
									{% if totVtas[v[0].id] is defined %}
										{% set valV = totVtas[v[0].id] %}
									{% endif %}

									<td class="col-lg-12 deep-orange lighten-4"> 							
										{% if sf[v[0].id]  is defined%}
											<input readonly class=" text-right form-control form-control-sm col-lg-12" value="{{ valV }}"/>
										{% else %}
											<input readonly class="text-right form-control form-control-sm col col-lg-12"/>
										{% endif %}						
									</td>
								{% endfor %}
							{% endfor %}
						{% endfor %}
					</tr>
					<tr>
						<td class="sticky">
							Produccion
						</td>
						{% for key, art in articulos %}
							{% for ks, sub in art %} 
								{% for k, v in sub %}
									{% set valV = '' %}
									{% if v[1] != null %}
										{% set valV = v[1] %}
									{% endif %}

									<td class="col-lg-12"> 							
										{% if sf[v[0].id]  is defined%}
											<input readonly class="text-right form-control form-control-sm col-lg-12" value="{{ valV }}"/>
										{% else %}
											<input readonly class="text-right form-control form-control-sm col col-lg-12"/>
										{% endif %}						
									</td>
								{% endfor %}
							{% endfor %}
						{% endfor %}
					</tr>
					<tr>
						<td class="sticky">
							Stock Final
						</td>
						{% for key, art in articulos %}
							{% for ks, sub in art %} 
								{% for k, v in sub %}
									<td class="col-lg-12"> 							
										{% if sf[v[0].id]  is defined%}
											<input readonly class="text-right form-control form-control-sm col-lg-12" value="{{ sf[v[0].id] }}"/>
										{% else %}
											<input readonly class="text-right form-control form-control-sm col col-lg-12"/>
										{% endif %}						
									</td>
								{% endfor %}
							{% endfor %}
						{% endfor %}
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>



{% endblock out_container %}

{% block javascripts %}

<script type="text/javascript">


$('#myTytable').DataTable({
"scrollX": true,
"ordering": false,
"paging": false,
"searching": false
});




</script>

{% endblock %}
