{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<br>
<hr>
<p class="h5 card-title">Proceso: {{ proceso }} - Fecha: {{ faena }}</p>
<hr>



{% if fatr is defined %}
<div class="card">
  <div class="card-header">
    Editar movimiento
  </div>
  <div class="card-body">
	{{ form_start(fatr, {'atr':{'class' : 'container', 'novalidate':'novalidate'}}) }}
	<ul>
		<li>{{  form_widget(fatr.procesoFnDay,{'attr' : {'class' : 'form-control-plaintext h5'}}) }}</li>
		
		<li>{{  form_widget(fatr.artProcFaena,{'attr' : {'class' : 'form-control-plaintext h5'}}) }}</li>

		<li>{{  form_widget(fatr.concepto,{'attr' : {'class' : 'form-control-plaintext h5'}}) }}</li>
	</ul>
	{{ form_label(fatr.valores, 'Valores') }}
    {% for f in fatr.valores %}
    	<div class="form-row {% if f.hidden is defined %}invisible{% endif %}">
    		{{  form_widget(f.atributo) }}
    		{%  if f.unidadMedida is defined %}
    			{{  form_widget(f.unidadMedida) }}
    		{% endif %}
    		{%  if f.entidadExterna is defined %}
    			{{  form_widget(f.entidadExterna) }}
    		{% endif %}
    		{%  if f.valor is defined %}
    			{{  form_widget(f.valor, {'atr':{'placeholder' : 'Ingrese el valor'}}) }}
    		{% endif %}
    		{% if f.hidden is defined %}
    			{{ form_widget(f.hidden) }}
    		{% endif %}
    	</div>            	
    {% endfor %}
    <div class="row">
    	<div class="col">
    		{{ form_widget(fatr.guardar) }}
    		<a href="{{ path('bd_adm_proc_fan_day',{proc: proceso.id, fd : faena.id }) }}" class="btn btn-danger">Cancelar</a>
    	</div>
    </div>
	{{ form_end(fatr) }}
</div>
</div>
{% endif %}

{% endblock fos_user_content %}

{% block javascripts %}

<script type="text/javascript">
	$('.view-art').click(function(){
									var url = "{{ path('bd_view_art_proc_fan', {'articulo' : 'id_article'}) }}"; 
									url = url.replace('id_article', $(this).data('id'));
									$('.modal-body-article').load(url);
									$('#viewArticle').modal('show');
	});

	$('.sender').submit(function (event){
										 event.preventDefault();
										 var form = $(this);
										 $.post(form.attr('action'),
										 		form.serialize(),
										 		function(data){
										 						if (data.status)
										 						{

										 						}
										 						else
										 						{

										 						}


										 		});
										
	});
</script>

{% endblock %}
