{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<br>
<hr>
<p class="h5 card-title">Proceso: {{ proceso }} - Fecha Faena: {{ faena }}</p>
<p class="h5 card-title">Generacion automatica de movimientos</p>
<hr>
{% for messages in app.flashes('errorLoad') %}
	{% for message in messages %}
		<div class="alert alert-danger" role="alert">
		  {{ message }}
		</div>
	{% endfor %}
{% endfor %}
{% for message in app.flashes('error') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endfor %}
	<div class="card">
		<div class="card-header">
	    <p class="h5">Movimientos a realizar</p>
	  </div>
  		<div class="card-body">
		<table class="table table-striped table-bordered table-hover table-sm ">
			<tbody>
				{% for auto in proceso.procesoFaena.automaticos %}
					{% if not auto.eliminado %}
						<tr>
							<td>{{ loop.index }}</td>
							<td>{{ auto.nombre }}</td>
							<td>{{ auto.detalle }}</td>
							<td>

									{{ form_start(formsAuto[auto.id]) }}
									{{ form_widget(formsAuto[auto.id].generar, {'attr' : {'data-title' : auto.nombre,'class' : 'btn btn-warning btn-sm btn-generate'}}) }}
									{{ form_end(formsAuto[auto.id]) }}
								
							</td>
							<td>
								{% if realizados[auto.id] is defined %}
									<i class="far fa-check-circle fa-2x"></i>
								{% else %}
									<i class="far fa-times-circle fa-2x mt-2"></i>
								{% endif %}
							</td>
						</tr>
					{% endif %}
				{% endfor %}

			</tbody>
		</table>
		</div>
	</div>
	<a href="{{ path('bd_adm_proc_fan_day',{proc: proceso.id, fd: faena.id }) }}" class="btn btn-success"><< Volver</a>

{% endblock fos_user_content %}

{% block javascripts %}

<script type="text/javascript">


	$('.btn-generate').click(function(event){
												event.preventDefault();
												var btn = $(this);
												var form = btn.closest('form');
												bootbox.confirm({
												    message: 'Seguro generar el movimiento: "'+btn.data('title')+'"?',
												    size: "large",
												    buttons: {
												        confirm: {
												            label: 'Si, generar',
												            className: 'btn-success'
												        },
												        cancel: {
												            label: 'No, cancelar',
												            className: 'btn-danger'
												        }
												    },
												    callback: function (result) {
												        if (result){
												        	form.submit();
												        }
												    }
												});
											});
</script>

{% endblock %}
