{% extends "FOSUserBundle::layout.html.twig" %}
{% block fos_user_content %}
<br>
<hr>
<span class="h5 card-title">{{ label }}</span>
<hr>
{% include '@GestionFaena/messages.html.twig'  %}

<div class="">
	{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="form-row">
      <div class="col-4">
        {{ form_label(form.comercial.entidad.valor, 'Nombre/Razon Social') }}
        {{ form_widget(form.comercial.entidad.valor) }}
        {{ form_errors(form.comercial.entidad.valor) }}
      </div>
      <div class="col-4">
        {{ form_label(form.comercial.cuit) }}
        {{ form_widget(form.comercial.cuit) }}
        {{ form_errors(form.comercial.cuit) }}
      </div>
      <div class="col-4">
        {{ form_label(form.comercial.direccion) }}
        {{ form_widget(form.comercial.direccion) }}
        {{ form_errors(form.comercial.direccion) }}
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        {{ form_widget(form.guardar) }}
      </div>
    </div>
	{{ form_end(form) }}
    <br>
    <span class="h5">Existentes</span>
    <hr>
    <table class="table table-striped table-bordered table-hover table-sm ">
        <thead>
          <tr>
            <th>#</th>
            <th>Detalle</th>
   
              <th>Direccion</th>

            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {% for f in entes %}
            <tr>
              <td>{{ loop.index }}</td>
              <td>{{ f|upper }}</td>   
              <td>{{ f.direccion|upper }}</td>
              <td>
<a class="btn btn-sm btn-warning" href="{{ path('vtas_editar_destinatario', { id : f.id })}}">Editar</a>

              </td>
  
              <td class="text-center"><a data-index="{{ loop.index }}" class="btn btn-sm btn-warning btn-delete" href="{{ path('bd_baja_entidad_venta', { id : f.id })}}">Desactivar</a></td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
</div>
{% endblock fos_user_content %}
{% block javascripts %}

<script type="text/javascript">

  $('.btn-delete').click(function(event){
                      event.preventDefault();
                      var btn = $(this);
                      bootbox.confirm({
                          message: "Seguro desactivar el item "+btn.data('index')+"?",
                          buttons: {
                              confirm: {
                                  label: 'Si',
                                  className: 'btn-success'
                              },
                              cancel: {
                                  label: 'No',
                                  className: 'btn-danger'
                              }
                          },
                          callback: function (result) {
                              if (result){
                                $.post(btn.attr('href'),
                                     function(data){
                                        if (data.ok)
                                          location.reload();
                                        else
                                          bootbox.alert(ok.message);
                                     });
                              }
                          }
                      });
  });

</script>

{% endblock %}