{% extends "FOSUserBundle::layout.html.twig" %}
{% block fos_user_content %}
<br>
<hr>
<span class="h5 card-title">Nueva Configuracion Informe</span>
<hr>
{% for message in app.flashes('sussecc') %}
	<div class="alert alert-success" role="alert">
	  {{ message }}
	</div>
{% endfor %}


	{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="form-row">
      <div class="col-sm-6">
        {{ form_label(form.proceso) }}
        {{ form_widget(form.proceso) }}
      </div>
    </div>
    <div class="form-row">
      <div class="col-sm-6">
        {{ form_label(form.conceptos) }}
        {{ form_widget(form.conceptos) }}
      </div>
    </div>
	{{ form_end(form) }}

{% endblock fos_user_content %}
