{% extends "FOSUserBundle::layout.html.twig" %}
{% block fos_user_content %}
<br>
<hr>
<span class="h5 card-title">Nueva Configuracion Informe</span>
<hr>
{% for message in app.flashes('sussecc') %}
	<div class="alert alert-success" role="alert">
	  {{ message }}
	</div>
{% endfor %}
<hr>
  <table class="table table-striped table-bordered table-hover table-sm ">
      <thead>
        <tr>
          <th>#</th>
          <th>Atributo</th>
          <th>Posicion</th>
          <th>Visible</th>
          <th>Sumariza</th>
          <th>Promedia</th>
          <th>Agrupa</th>
          <th>Nº Orden</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        
        {% for f in informe.atributos %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ f.atributo }}</td>  
            <td>{{ f.posicion }}</td>      
            <td>{{ f.visible }}</td>  
            <td>{{ f.sumariza }}</td>    
            <td>{{ f.promedia }}</td>  
            <td>{{ f.agrupa }}</td>      
            <td>{{ f.numeroOrden }}</td>      
            <td class="text-center">
              <a href="#" class="btn btn-sm btn-success">Modificar</a>
          </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <hr>

	{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="form-row">
      <div class="col-sm-3">
        {{ form_label(form.informe) }}
        {{ form_widget(form.informe) }}
      </div>
      <div class="col-sm-3">
        {{ form_label(form.atributo) }}
        {{ form_widget(form.atributo) }}
      </div>
      <div class="col-sm-3">
        {{ form_label(form.posicion) }}
        {{ form_widget(form.posicion) }}
      </div>
      <div class="col-sm-3">
        {{ form_label(form.numeroOrden) }}
        {{ form_widget(form.numeroOrden) }}
      </div>
    </div>
    <div class="form-row">
      <div class="col-sm-3">
        {{ form_label(form.agrupa) }}
        {{ form_widget(form.agrupa) }}
      </div>
      <div class="col-sm-3">
        {{ form_label(form.sumariza) }}
        {{ form_widget(form.sumariza) }}
      </div>
      <div class="col-sm-3">
        {{ form_label(form.promedia) }}
        {{ form_widget(form.promedia) }}
      </div>
      <div class="col-sm-3">
        {{ form_label(form.visible) }}
        {{ form_widget(form.visible) }}
      </div>
    </div>
    <div class="form-row">
      <div class="col-sm-6">
        {{ form_widget(form.guardar) }}
      </div>
    </div>
	{{ form_end(form) }}

{% endblock fos_user_content %}
