{% extends "FOSUserBundle::layout.html.twig" %}

{% block stylesheets %}
<style type="text/css">


</style>
{% endblock %}
{% block fos_user_content %}
  {{ parent() }}
<br>
<hr>
<span class="h5 card-title">Comprobantes venta generados</span>
<hr>
{% include '@GestionFaena/messages.html.twig'  %}

{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
          <div class="form-row">
            <div class="col-lg-4 col-sm-12">
              {{ form_widget(form.fecha, { 'attr' : {'class' : 'form-control form-control-sm mt-2 '}}) }}
            </div>
            <div class="col-lg-4 col-sm-12">
              {{ form_widget(form.cargar, { 'attr' : { 'class' : 'btn btn-sm  btn-primary btnsend' }}) }}
            </div>
          </div>
{{ form_end(form) }}
<hr>

{% if comprobantes is defined %}
<div class="row mt-2 mb-2">
  <div class="col-lg-2 col-sm-12 border ml-3 mr-2 blue lighten-5">
      Confirmados
  </div>
  <div class="col-lg-2 col-sm-12 border ml-2 orange lighten-4">
      Pendientes
  </div>
</div>
    <table class="table table-striped table-bordered table-hover table-sm">
      <thead>
        <tr>
            <th>Numero</th>
            <th>Destino</th>
            <th>Transporte</th>
            <th>Observaciones</th>
            <th>Articulos O</th>      
            <th>Articulos R</th>        
            <th></th>
        </tr>
        </thead>
        <tbody>        
          {% for cmp in comprobantes %}
              {% set color = 'orange lighten-4' %}
              {% if cmp.confirmado %}
                  {% set color ='blue lighten-5' %}
              {% endif %}
              <tr class="{{ color }}">
                <td>{{ "%06d" | format(cmp.numero) }}</td>
                <td>{{ cmp.entidad }}</td>
                <td class="trans-{{ cmp.id }}">
                    {% if cmp.ordenCarga.transportista is defined %}
                        {% set oc = cmp.ordenCarga %}
                          {{ oc.titularTransporte }}
                      {% endif %}
                </td>
                <td>{{ cmp.comentario }}</td>   
                <td class="text-right">{{ cmp.itemOficial }}</td>  
                <td class="text-right">{{ cmp.itemNoOficial }}</td>
                <td class="text-center">


<a class="dropdown-toggle mr-4" data-toggle="dropdown"
  aria-haspopup="true" aria-expanded="false"><i class="fas fa-cog fa-2x"></i></a>

<div class="dropdown-menu">
    <a class="dropdown-item" target="_blank" href="{{  path('vtas_imprimir_comprobante', { cmp : cmp.id }) }}">Imprimir Remito</a>
    {% if cmp.ordenCarga %}
      <a class="dropdown-item" target="_blanck" href="{{ path('vtas_imprimir_orden_carga', { oc : cmp.ordenCarga.id }) }}">Imprimir Orden Carga</a>
    {% endif %}
    <a class="dropdown-item open" data-number="{{ "%06d" | format(cmp.numero) }}"  href="{{ path('vtas_view_detalle_cmbte', { cmp : cmp.id }) }}">Ver Detalle</a>
</div>

                  
                  </td>     
              </tr>
          {% endfor %}
        </tbody>
    </table>  
{% endif %}
<div class="modal fade" id="viewDetalle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body body-details">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="asignarTransporte" tabindex="-1" role="dialog" aria-labelledby="transporteAsignar"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="transporteAsignar">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body body-transportista">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

{% endblock fos_user_content %}
{% block javascripts %}

<script type="text/javascript">

  $('.open').click(function(event){
                                  event.preventDefault();
                                  var a = $(this);
                                  $('#exampleModalLabel').html('Remito Nº '+a.data('number'));                                  
                                  $('.body-details').html('<div class="text-center loading"><div class="spinner-border" role="status"><span class="sr-only">Loading...</span></div></div>');
                                  $('.body-details').load(a.attr('href'));
                                  $('#viewDetalle').modal('show');
  });
  
  $(".main-table").clone(true).appendTo('#table-scroll').addClass('clone');  
  $('.deletecmp').click(function(event){
                                        event.preventDefault();
                                        var a = $(this);
                                        bootbox.confirm({                                        
                                                        message: 'Seguro '+a.data('action')+' el comprobante correspondiente a '+a.data('index')+'?',
                                                        size: "large",
                                                        buttons: {
                                                                  confirm: {
                                                                      label: 'Si',
                                                                      className: 'btn-success'
                                                                  },
                                                                  cancel: {
                                                                      label: 'No',
                                                                      className: 'btn-danger'
                                                                  }
                                                              },
                                                              callback: function (result) {
                                                                  if (result)
                                                                  {
                                                                      $.post(a.attr('href'),
                                                                             function (data)
                                                                             {
                                                                                if (!data.error)
                                                                                {
                                                                                   location.reload();
                                                                                }
                                                                                else
                                                                                {
                                                                                  alert(data.message);
                                                                                }
                                                                             });
                                                                  }
                                                              }
                                        });

  });


</script>

{% endblock  %}