{% extends "FOSUserBundle::layout.html.twig" %}

{% block stylesheets %}
<style type="text/css">


</style>
{% endblock %}
{% block fos_user_content %}
  {{ parent() }}
<br>
<hr>
<span class="h5 card-title">Cargar archivo ventas</span>
<hr>
{% include '@GestionFaena/messages.html.twig'  %}

  {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="row">
        
        <div class="col-lg-6">        
          {{ form_label(form.archivo) }}
          {{ form_widget(form.archivo, {'attr' : {'class' : 'form-control'}})  }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">        
          {{ form_widget(form.cargar, {'attr' : {'class' : 'btn btn-sm btn-success mt-4'}})  }}
        </div>
        
    </div>
  {{ form_end(form) }}
    <hr>

    {% if articulos is defined%}
    <span class="h5 card-title">Listado de Ventas a Ingresar</span>
    <hr>
        <table class="table table-striped table-hover table-sm main-table">
          <thead>
            <tr>
                <th>Fecha</th>
                <th>Zona</th>
                <th>Codigo</th>
                <th>Destinatario</th>
                <th>Codigo Art.</th>
                <th>Articulo</th>    
                <th>Cantidad</th>      
                <th>#</th>      
            </tr>
          </thead>
                {% set index = 1 %}
                {% set l = 0 %}
                {% for k, it in data %}
                  {% set i = 0 %}
                  <tr class="{{ l % 2 }}">
                    <td rowspan="{{ it.cant }}" class="align-middle">{{ it.fecha }}</td>
                    <td rowspan="{{ it.cant }}" class="align-middle">{{ it.zona }}</td>
                    <td rowspan="{{ it.cant }}" class="align-middle">{{ it.code }}</td>
                    <td rowspan="{{ it.cant }}" class="align-middle">{{ it.destinatario }}</td>
                    {% for kv, vta in it.items %}
                        {% if i == 0 %}

                            <td>{{ kv }}</td>
                            {% if articulos[kv] is defined %}
                              <td>{{ articulos[kv] }}</td>
                            {% else %}
                              <td></td>
                            {% endif %}
                            <td>{{ vta }}</td>
                            <td class="text-muted">{{ index }}</td>
                          </tr>

                        {% else %}

                          <tr class="{{ l % 2 }}">
                            <td>{{ kv }}</td>
                            {% if articulos[kv] is defined %}
                              <td>{{  articulos[kv]  }}</td>
                            {% else %}
                              <td></td>
                            {% endif %}
                            <td>{{ vta }}</td>
                            <td class="text-muted">{{ index }}</td>
                          </tr>

                        {% endif %}

                        {% set i = i + 1 %}
                        {% set index = index + 1 %}

                    {% endfor %}                
                    {% set l = l + 1 %}
                {% endfor %}
          <tbody>


          </tbody>
        </table>
    {% endif %}
{% endblock %}

{% block javascripts %}

<script type="text/javascript">
    $('.1').addClass('grey lighten-2');
    $('.0').addClass('grey lighten-1');
</script>
{% endblock  %}