

    	{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class' : 'asignar'}}) }}
        <div class="form-row">
          <div class="col">
              {{ form_label(form.camion) }}
              {{ form_widget(form.camion) }}
          </div>          
        </div>
        <div class="form-row">
          <div class="col">
              {{ form_widget(form.asignar, {'attr' : {'class' : 'btn btn-sm btn-success'}}) }}
          </div>          
        </div>
    	{{ form_end(form) }}

      <script type="text/javascript">

            $('.asignar').submit(function(event) {
                                                    event.preventDefault();
                                                    let form = $(this);

                                                    $.post(form.attr('action'),
                                                           form.serialize(),
                                                           function(data) {
                                                                            console.log(data);
                                                           });
            });

      </script>

