{% extends "FOSUserBundle::layout.html.twig" %}
{% block fos_user_content %}
<br>
<hr>
<span class="h5 card-title">Multiples modificaciones</span>
<hr>
  {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="form-row">
      <div class="col-2">
        {{ form_label(form.zona, 'Region') }}
        {{ form_widget(form.zona) }}
      </div>
      <div class="col-3">
        {{ form_label(form.grupo, 'Fecha Solicitudes') }}
        {{ form_widget(form.grupo) }}
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        {{ form_widget(form.load) }}
      </div>
    </div>
  {{ form_end(form) }}
  <hr>
  {% if solicitudes is defined %}
  <h4>Solicitudes Region: {{ region }}</h4>
  <a href="{{ path('sigcer_generar_archivos', {gpo: grupo, rgn: region.id}) }}" class="btn btn-danger" target="_blank">Exportar solicitudes</a>
  <hr>
    
        <table class="table table-striped table-bordered table-hover table-sm ">
            <thead>
              <tr>
                <th>Zona</th>
                <th>Localidad</th>
                <th>Articulo</th>
                <th>
                          <div  class="form-row">
                            <div class="col-2">Cant.Sanit.</div>
                            <div class="col-2">Cant.</div>
                            <div class="col-2">P. Neto</div>
                            <div class="col-2">P. Bruto</div>                            
                            <div class="col-2"></div> 
                            <div class="col-1"></div> 
                          </div>
                </th>
              </tr>
            </thead>
            <tbody>
              {% set last = 0 %}
              {% for s in solicitudes %}
                {% for d in s.detalles %}
                  <tr>
                      <td>
                          {% if last != s.zona.codigo %}
                            {{ s.zona.codigo }}
                            {% set last = s.zona.codigo %}
                          {% endif %}
                      </td>
                      <td>{{ s.zona.zona|upper }}</td>
                      <td>{{ d.articulo }}</td>
                      
                      <td class="text-right">
                        {{ form_start(formUpd[d.id], {'attr' : {'class' : 'upd', 'novalidate' : 'novalidate'}} ) }}
                          <div  class="form-row text-right">
                            <div class="col-2">{{ form_widget(formUpd[d.id].cantSan, {'attr' : {'class' : 'cansan form-control form-control-sm'}}) }}</div>
                            <div class="col-2">{{ form_widget(formUpd[d.id].cant, {'attr' : {'class' : 'cansol form-control form-control-sm'}}) }}</div>
                            <div class="col-2">{{ form_widget(formUpd[d.id].pneto, {'attr' : {'class' : 'pneto form-control form-control-sm'}}) }}</div>
                            <div class="col-2">
                                                {{ form_widget(formUpd[d.id].pbruto, {'attr' : {'class' : 'pbruto form-control form-control-sm'}}) }}
                            </div>                        
                            <div class="col-2 mt-0">
                                    {{ form_widget(formUpd[d.id].load, {'attr' : { 'class' : 'btn btn-warning btn-sm'}}) }}
                            </div> 
                            <div class="col-1 result">
                            </div>
                          </div>
                        {{ form_end(formUpd[d.id]) }}
                      </td>
                  </tr>
                {% endfor %}
              {% endfor %}
            </tbody>
        </table>
      {% endif %}
    <div>
        <a href="{{ path('sigcer_add_grupos_solicitudes') }}" class="btn btn-success"><< Volver</a>
    </div>
{% endblock fos_user_content %}

{% block javascripts %}
 {{ parent() }}
<script type="text/javascript">

          $(".cansan").focusout(function(){
                                            var cantSan = $(this);
                                            var cant = '';
                                            var neto = '';
                                            var bruto = '';

                                            if (cantSan)
                                            {
                                              var cant = (cantSan.val()/cantSan.data('fcan'));
                                              var neto = Math.round(cant*cantSan.data('fpn'));
                                              var bruto = Math.round(cant*cantSan.data('fpb'));
                                              var cant = Math.round(cant);
                                            }

                                            var form = cantSan.closest('form');
                                            form.find('.cansol').val(cant);
                                            form.find('.pneto').val(neto);
                                            form.find('.pbruto').val(bruto);
                                            form.find('button').focus();

          });

          $('.upd').submit(function(event){
                                            event.preventDefault();
                                            var form = $(this);
                                            var route = form.attr('action');
                                            var btn = form.find('button');
                                            $.post(route,
                                                   form.serialize(),
                                                   function(data){
                                                                  if (data.status)
                                                                  {
                                                           
                                                                      form.find('.result').append('<i class="far fa-thumbs-up fa-2x"></i>');
                                                                     
                                                                  }
                                                                  else
                                                                      form.find('.result').append('<i class="far fa-thumbs-down fa-2x"></i>');
                                                   });
                                            
          });
</script>

{% endblock  %}
